In [11]:
# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:
# first get the webpage https://www.naukri.com/
# Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
# Then click the search button.
# Then scrape the data for the first 10 jobs results you get.
# Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/' 
driver.get(url)

jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch.send_keys("Data Analyst")

location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")
search = driver.find_element_by_class_name('btn')
search.click()

In [12]:
job_title = []
company = []
locations = []
xp = []

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)

JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

print(JobDF)

                                            Job Title  \
1                                 Senior Data Analyst
2    Tcs Hiring For Senior Data Analyst (bfsi domain)
3                               Business Data Analyst
4                               Business Data Analyst
5                                 Senior Data Analyst
6   Tcs Hiring For MDM (master data management) Da...
7                   Senior Data Analyst IDAM Services
8                       Data Analyst/Sr.Data Engineer
9                                 SENIOR DATA ANALYST
10                             Executive Data Analyst

                                    Company Experience  \
1         Gaussian Networks Private Limited    3-5 Yrs
2            Tata Consultancy Services Ltd.   6-11 Yrs
3                          Trigent Software   5-10 Yrs
4                          Trigent Software   5-10 Yrs
5       Virtusa Consulting Services Pvt Ltd   8-12 Yrs
6            Tata Consultancy Services Ltd.   6-11 Yrs
7   GlaxoSmithKline Pharmaceuticals Limited    4-8 Yrs
8        SYREN TECHNOLOGIES PRIVATE LIMITED    4-9 Yrs
9          McAfee Software (India) Pvt. Ltd    6-8 Yrs
10                     Gokaldas Exports Ltd    0-3 Yrs

                                             Location
1               Gurgaon/Gurugram, Bangalore/Bengaluru
2                        Chennai, Bangalore/Bengaluru
3                                 Bangalore/Bengaluru
4                                 Bangalore/Bengaluru
5   Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...
6                                  (WFH during Covid)
7                        Chennai, Bangalore/Bengaluru
8                                 Bangalore/Bengaluru
9   Hyderabad/Secunderabad, Chennai, Bangalore/Ben...
10                                 (WFH during Covid)

In [13]:
# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps:
# first get the webpage https://www.naukri.com/
# Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
# Then click the search button.
# Then scrape the data for the first 10 jobs results you get.
# Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/' 
driver.get(url)
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')

jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys("Bangalore")
search = driver.find_element_by_class_name('btn')
search.click()

In [14]:
job_title = []
company = []
locations = []
desc_url = []
title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
description_url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
for l in location_tag:
    locations.append(l.text)
for u in description_url:
    desc_url.append(u.get_attribute('href'))

desc = []
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='dang-inner-html']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc.append(content)
    except:
        pass

desc2 = []
for d in desc_url:
    driver.get(d)
    try:
        content= driver.find_element_by_xpath("//div[@class='clearboth description']").text.replace('\n'," ").replace('\n\n'," ")
        
        desc2.append(content)
    except:
        pass
    
descriptions = [] #combining values of desc1 and desc2 into main 'descriptions' list
for i in range(0,8):
    descriptions.append(desc[i])
for j in range(0,2):
    descriptions.append(desc2[j])

JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Location":locations[0:10],"Job Description":descriptions[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

print(JobDF)

                             Job Title                           Company  \
1            Hiring For Data Scientist    Tata Consultancy Services Ltd.
2             Lead Data Scientist BFSI            IBM India Pvt. Limited
3             Associate Data Scientist             Philips India Limited
4                       Data Scientist                           Brillio
5              Data Scientist - I / II                         Sharechat
6                       Data Scientist  Allegis Services India Pvt. Ltd.
7                       Data Scientist  Allegis Services India Pvt. Ltd.
8   Data Scientist: Advanced Analytics            IBM India Pvt. Limited
9                Senior Data Scientist                      Walmart Labs
10               Senior Data Scientist                            Airbnb

                                            Location  \
1   Chennai, Bangalore/Bengaluru, Mumbai (All Areas)
2                                Bengaluru/Bangalore
3                                Bangalore/Bengaluru
4                                Bangalore/Bengaluru
5                                Bangalore/Bengaluru
6                                Bangalore/Bengaluru
7                                Bangalore/Bengaluru
8                                Bengaluru/Bangalore
9                                Bangalore/Bengaluru
10                               Bangalore/Bengaluru

                                      Job Description
1   Minumum 3 years of experience in Data Science/...
2   Use predictive modeling to increase and optimi...
3   A day in the Life of Data Scientist at Brillio...
4   Responsibilities Apply state of the art in the...
5   Must Have skill sets:  Excellent knowledge of ...
6   As a Senior Data Scientist for Walmart, you ll...
7   Responsibilities include: Defining and evaluat...
8     Skills Required Skills: Data Science, Machin...
9   Introduction Software Developers at IBM are th...
10  Must Have skill sets:  Excellent knowledge of ...

In [57]:
# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required.
# The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps:
# 1.first get the webpage https://www.naukri.com/
# 2.Enter “Data Scientist” in “Skill,Designations,Companies” field .
# 3.Then click the search button.
# 4.Then apply the location filter and salary filter by checking the respective boxes
# 5.Then scrape the data for the first 10 jobs results you get.
# 6.Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/' 
driver.get(url)
jobsearch = driver.find_element_by_id('qsb-keyword-sugg')
jobsearch.send_keys("Data Scientist")

search = driver.find_element_by_class_name('btn')
search.click()

In [66]:
location_filter = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section/div[2]/div/div[2]/div[3]')
location_filter.click()

In [67]:
salary_filter = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section/div[2]/div[4]/div[2]/div')
salary_filter.click()

In [68]:
job_title = []
company = []
locations = []
xp = []

title_tag = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
company_tag = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
location_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]")
xp_tag = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

for i in title_tag:
    job_title.append(i.text)
for c in company_tag:
    company.append(c.text)
company
for l in location_tag:
    locations.append(l.text)
for x in xp_tag:
    xp.append(x.text)
    
JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Experience":xp[0:10],"Location":locations[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1

print(JobDF)

                                           Job Title  \
1     Opportunity with Accionlabs For Data Scientist
2                           Manager - Data Scientist
3                                     Data Scientist
4   Data Scientist For IT Company Bangalore location
5                              Data Scientist Intern
6     Senior Associate, Data Hierarchy Analyst( MDM)
7                  Hiring For Data Analyst (DA Role)
8     Tcs Hiring For Azure Data Engineer - PAN India
9                             Executive Data Analyst
10                   Associate Analyst- Data Privacy

                              Company Experience  \
1   Accion labs India Private Limited    3-5 Yrs
2       GENPACT India Private Limited   7-10 Yrs
3                ILABZ TECHNOLOGY LLP    3-5 Yrs
4           SHRI GURU DAYA CONSULTING    0-2 Yrs
5                              TalPro    0-1 Yrs
6       GENPACT India Private Limited    1-3 Yrs
7                           COLLABERA    0-1 Yrs
8      Tata Consultancy Services Ltd.    3-8 Yrs
9                Gokaldas Exports Ltd    0-3 Yrs
10                              EYGBS    1-3 Yrs

                                             Location
1   Hyderabad/Secunderabad, Pune, Bangalore/Bengal...
2                                 Bangalore/Bengaluru
3   Hyderabad/Secunderabad, Pune, Chennai, Bangalo...
4                                 Bangalore/Bengaluru
5                                 Bangalore/Bengaluru
6                                 Bangalore/Bengaluru
7                                 Bangalore/Bengaluru
8                  Pune, Chennai, Bangalore/Bengaluru
9                                 Bangalore/Bengaluru
10  Noida, Hyderabad/Secunderabad, Pune, Delhi / N...

In [79]:
# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, job_title. This task will be done in following steps:
# first get the webpage https://www.glassdoor.co.in/index.htm
# Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.
# Then click the search button. You will land up in the below page:
# Then scrape the data for the first 10 jobs results you get in the above shown page. .
# Finally create a dataframe of the scraped data.

import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

driver = webdriver.Chrome("chromedriver.exe")

url='https://www.glassdoor.co.in/developer/index.htm'
driver.get(url)
time.sleep(3)

In [80]:
job_title = driver.find_element_by_id("sc.keyword")
job_title.send_keys("Data Scientist")

location = driver.find_element_by_id('sc.location')
location.send_keys("Noida")

In [84]:
search = driver.find_element_by_xpath('/html/body/header/nav/div/div/div/div[3]/div[2]/form/div/button/span')
search.click()

In [86]:
company = []

company_tags = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']/a")
for i in company_tags:
    company.append(i.text)
    
# print (company)

no_days = []

no_days_tags = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
for i in no_days_tags:
    no_days.append(i.text)
# print (no_days)

job_title=driver.find_elements_by_xpath("//a[@class='jobLink job-search-key-1rd3saf eigr9kq1']")
title=[]
for i in job_title:
    title.append(i.text)
# print(title)

['Applied Materials Inc.', 'Indeed', 'Quor Technologies, Inc.', 'Data Tale', 'Top Mentor', 'IDFC First Bank Ltd', 'Argoid', 'HP', 'Patient Bond India Private Limited', 'Microsoft', 'Ishatva Management Solutions', 'Argoid', 'Lenskart', 'HDFC Bank', 'Walmart Global Tech India', 'UST Global', 'Crypto Mize', 'Exa Mobility India Private Limited', 'Aera Technology', 'sharechat', 'Deloitte', 'Merkle Sokrati', 'The Learning Zone', 'Reach52, Inc.', 'XCEEDANCE', 'Airtel India', 'Merkle', 'ING', 'Michelin', 'Saishaa Services']
['30d+', '30d+', '6d', '19d', '5d', '4d', '7d', '12d', '24h', '24h', '15d', '24h', '7d', '18d', '5d', '30d+', '27d', '5d', '18d', '4d', '8d', '3d', '5d', '10d', '8d', '25d', '3d', '10d', '28d', '21d']
['Data Scientist', 'Product: Data Scientist', 'Machine Learning Engineer / Data Scientist', 'Data Scientist', '', 'Associate Data Scientist', 'Data Scientist Intern', 'Data Scientist', 'Data Scientist', 'Data & Applied Scientist', 'Data Scientist', 'Data Scientist (min 1year DS exp) Immed Hire', 'Data Scientist', 'Data Scientist-CAI', 'Data Scientist', 'Data Scientist I', 'Data Scientist', 'Data Science part time job/internship at Pune, Pimpri-Chinchwad', 'Data Scientist', 'Data Scientist - I/II', 'Data Scientist', 'Data Analytics - Intern', 'Trainer for Data Science & AIML', 'Data Scientist', 'DATA SCIENTIST – MACHINE LEARNING', 'Data Scientist', 'Data Analytics - Intern', 'Data Scientist', 'Data Scientist 2', 'Data Scientist']

In [87]:
JobDF = pd.DataFrame({"Job_Title":title[0:10],"Company":company[0:10],"Job Age":no_days[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1
print(JobDF)

                                     Job_Title  \
1                               Data Scientist
2                      Product: Data Scientist
3   Machine Learning Engineer / Data Scientist
4                               Data Scientist
5
6                     Associate Data Scientist
7                        Data Scientist Intern
8                               Data Scientist
9                               Data Scientist
10                    Data & Applied Scientist

                               Company Job Age
1               Applied Materials Inc.    30d+
2                               Indeed    30d+
3              Quor Technologies, Inc.      6d
4                            Data Tale     19d
5                           Top Mentor      5d
6                  IDFC First Bank Ltd      4d
7                               Argoid      7d
8                                   HP     12d
9   Patient Bond India Private Limited     24h
10                           Microsoft     24h

In [91]:
# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. 
# You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary and rating.

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.glassdoor.co.in/Salaries/index.htm' 
driver.get(url)
jobsearch = driver.find_element_by_id('KeywordSearch')
jobsearch
jobsearch.send_keys("Data Scientist")
location = driver.find_element_by_id('LocationSearch')
location.send_keys("")

In [92]:
search = driver.find_element_by_xpath('/html/body/div[3]/div/div[1]/div[1]/div/div/form/button')
search.click()

In [93]:
company = []
job_title = []
Rating = []
sals = []
avg_sal = []
sal_num = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
company_tag = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
title_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg px-xsm']//span")
sal_num_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']//span")
sals_tag = driver.find_elements_by_xpath("//div[@class='d-none d-lg-block']//p")
avg_sal_tag = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
for i in company_tag:
    company.append(i.text)
for j in title_tag :
    job_title.append(j.text)
for r in Rating_tag:
    Rating.append(r.text)
for n in sal_num_tag:
    sal_num.append(n.text)
for m in sals_tag:
    sals.append(m.text)
for a in avg_sal_tag:
    avg_sal.append(a.text.replace("\n ",""))

In [94]:
min_sal =[]
max_sal = []

for i in range(0,len(sals),2):
    min_sal.append(sals[i])
for j in range(1,len(sals),2):
    max_sal.append(sals[j])

JobDF = pd.DataFrame({"Job Title":job_title[0:10],"Company":company[0:10],"Minimum Salary(₹)":min_sal[0:10],"Maximum Salary(₹)":max_sal[0:10],"Average Salary(₹)":avg_sal[0:10],"Number of Salaries":sal_num[0:10],"Rating":Rating[0:10]})
JobDF.reset_index(drop=True,inplace = True)
JobDF.index+= 1
print(JobDF)

                   Job Title                              Company  \
1             Data Scientist            Tata Consultancy Services
2             Data Scientist                           Innoplexus
3             Data Scientist                                  IBM
4             Data Scientist                       Wolters Kluwer
5   Data Scientist - Monthly  AlgoAnalytics Financial Consultancy
6             Data Scientist       Cognizant Technology Solutions
7             Data Scientist                        ZS Associates
8             Data Scientist                            Accenture
9             Data Scientist                  Zensar Technologies
10            Data Scientist             ThinkBumblebee Analytics

   Minimum Salary(₹) Maximum Salary(₹) Average Salary(₹) Number of Salaries  \
1                ₹3L              ₹25L      ₹7,15,000/yr        28 salaries
2                ₹2L              ₹62L     ₹11,68,173/yr        17 salaries
3                ₹3L              ₹51L     ₹13,00,087/yr         9 salaries
4               ₹10L              ₹98L     ₹11,53,327/yr         9 salaries
5               ₹41T              ₹88T        ₹61,657/mo         9 salaries
6                ₹5L              ₹19L      ₹7,65,693/yr         8 salaries
7                ₹1L              ₹23L     ₹12,99,587/yr         8 salaries
8                ₹4L              ₹31L      ₹6,02,413/yr         7 salaries
9                ₹5L              ₹16L      ₹8,58,623/yr         7 salaries
10               ₹5L              ₹13L     ₹10,75,126/yr         7 salaries

   Rating
1     3.9
2     3.7
3     3.9
4     3.8
5     4.3
6     3.8
7       4
8     4.1
9     3.6
10    3.4

In [98]:
# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

# Brand
# Product Description
# Price
# Discount %

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com' 
driver.get(url)
glassessearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
glassessearch.send_keys("Sunglasses")

In [100]:
import time

In [99]:
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

brand = []
desc = []
price = []
disc = []

brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")

for b in brand_tag:
    brand.append(b.text)
for d in desc_tag :
    desc.append(d.text)
for p in price_tag:
    price.append(p.text)
for c in disc_tag:
    disc.append(c.text)

In [105]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [107]:
SunglassesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SunglassesDF.reset_index(drop=True,inplace = True)
SunglassesDF.index+= 1
SunglassesDF.shape

print(SunglassesDF)

       Brand Name Price(₹) Discount  \
1       New Specs     ₹299  81% off
2    Silver Kartz     ₹284  76% off
3      PHENOMENAL     ₹399  80% off
4        Fastrack   ₹1,085  16% off
5          GANSTA     ₹295  85% off
..            ...      ...      ...
96     PHENOMENAL     ₹319  77% off
97         GANSTA     ₹221  78% off
98         GANSTA     ₹230  70% off
99         AISLIN     ₹498  68% off
100     ROYAL SON     ₹474  78% off

                                           Description
1    Mirrored, UV Protection, Riding Glasses, Other...
2                   UV Protection Oval Sunglasses (56)
3    UV Protection, Mirrored Retro Square Sunglasse...
4                UV Protection Aviator Sunglasses (58)
5    UV Protection, Night Vision, Riding Glasses Av...
..                                                 ...
96     UV Protection Clubmaster Sunglasses (Free Size)
97    UV Protection, Mirrored Wayfarer Sunglasses (53)
98               UV Protection Aviator Sunglasses (57)
99     UV Protection, Gradient Cat-eye Sunglasses (61)
100         UV Protection Retro Square Sunglasses (58)

[100 rows x 4 columns]

In [108]:
# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.Scrape the data for first 100 reviews.

# Rating
# Review_summary
# Full review

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace' 
driver.get(url)

viewall = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span')
viewall.click()

rev_sum = []
rating = []
rev = []

In [109]:
rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    

for r in rev_sum_tag:
    rev_sum.append(r.text)
for j in rating_tag :
    rating.append(j.text)
for k in rev_tag:
    rev.append(k.text.replace("\n"," "))
    
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<10):
    try:
        nextbtn.click()
    except:
        pass
    
    time.sleep(3) #to allow the page to load completely before scraping.
    rev_sum_tag = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    rating_tag = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    rev_tag = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for r in rev_sum_tag:
        try:
            rev_sum.append(r.text)
        except:
            pass
    for j in rating_tag :
        try:
            rating.append(j.text)
        except:
            pass
    for k in rev_tag:
        try:
            rev.append(k.text.replace("\n"," "))
        except:
            pass

    
    
    
    i=i+1

In [110]:
iphoneDF = pd.DataFrame({"Summary":rev_sum[0:100],"Full Review":rev[0:100],"Rating":rating[0:100]})
iphoneDF.reset_index(drop=True,inplace = True)
iphoneDF.index+= 1
iphoneDF.shape

print(iphoneDF)

                 Summary                                        Full Review  \
1              Brilliant  The Best Phone for the Money  The iPhone 11 of...
2         Simply awesome  Really satisfied with the Product I received.....
3    Best in the market!  Great iPhone very snappy experience as apple k...
4       Perfect product!  Amazing phone with great cameras and better ba...
5              Fabulous!  This is my first iOS phone. I am very happy wi...
..                   ...                                                ...
96     Worth every penny  Best budget Iphone till date ❤️ go for it guys...
97      Perfect product!  Iphone is just awesome.. battery backup is ver...
98        Simply awesome  Excellent camera, good performance, no lag. Th...
99     Worth every penny  It’s been almost a month since I have been usi...
100             Terrific  Really worth of money. i just love it. It is t...

    Rating
1        5
2        5
3        5
4        5
5        5
..     ...
96       5
97       5
98       5
99       5
100      5

[100 rows x 3 columns]

In [112]:
# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :¶

# Brand
# Product Description
# Price
# discount %

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com' 
driver.get(url)
Sneakerssearch = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Sneakerssearch.send_keys("Sneakers")

In [113]:
search = driver.find_element_by_class_name('L0Z3Pu')
search.click()

In [114]:
brand = []
desc = []
price = []
disc = []
brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)
for c in disc_tag:
   disc.append(c.text)

In [118]:
i=0
nextbtn = driver.find_element_by_class_name('_1LKTO3')
while(i<2):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    price_tag = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    disc_tag = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    desc_tag = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    for c in disc_tag:
        try:
            disc.append(c.text)
        except:
            pass

    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [119]:
SneakersDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Discount":disc[0:100],"Description":desc[0:100],})
SneakersDF.reset_index(drop=True,inplace = True)
SneakersDF.index+= 1
SneakersDF.shape

print(SneakersDF)

    Brand Name Price(₹) Discount  \
1        Echor     ₹449  55% off
2        Echor     ₹429  57% off
3     Magnolia     ₹356  64% off
4       BRUTON     ₹474  86% off
5     ASTEROID     ₹499  75% off
..         ...      ...      ...
96      BRUTON     ₹420  78% off
97       BIRDE     ₹283  43% off
98        PUMA   ₹1,847  44% off
99        PUMA   ₹2,006  42% off
100      3SIX5     ₹526  82% off

                                           Description
1                                     Sneakers For Men
2                              Raptor Sneakers For Men
3                                     Sneakers For Men
4    Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...
5    Original Luxury Branded Fashionable Men's Casu...
..                                                 ...
96                            CLARKIN Sneakers For Men
97          Birde Trendy Casual Shoes Sneakers For Men
98                                    Sneakers For Men
99                                    Sneakers For Men
100                      3 Pair Combo Sneakers For Men

[100 rows x 4 columns]

In [120]:
# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , 
# Color filter to “Black”,And then scrape First 100 shoes data you get. 
#         The data should include “Brand” of the shoes , Short Shoe description, price of the shoe.

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.myntra.com/shoes' 
driver.get(url)

colour_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
colour_filter.click()

In [121]:
price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
price_filter.click()

In [122]:
brand = []
desc = []
price = []
price2 = []
brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
price_tag = driver.find_elements_by_xpath("//div[@class='product-price']//span[1]")
desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

for b in brand_tag:
   brand.append(b.text)
for d in desc_tag :
   desc.append(d.text)
for p in price_tag:
   price.append(p.text)

In [123]:
i=0
nextbtn = driver.find_element_by_class_name('pagination-next')
while(i<1):
    try:
        nextbtn.click()
    except:
        pass
    time.sleep(3) #to allow the page to load completely before scraping.
    brand_tag = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    price_tag = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']//span[1]")
    desc_tag = driver.find_elements_by_xpath("//h4[@class='product-product']")

    
    for b in brand_tag:
        try:
            brand.append(b.text)
        except:
            pass
    
    for d in desc_tag :
        try:
            desc.append(d.text)
        except:
            pass
    
    for p in price_tag:
        try:
            price.append(p.text)
        except:
            pass
    
    
    if 'inactive' in nextbtn.get_attribute('class'):
        break;
    
    i=i+1

In [124]:
while("" in price) :
    price.remove("")
    
j = 0
for c in price:
    if len(c) > 12:
        del price[j]
    j += 1
    
MyntraShoesDF = pd.DataFrame({"Brand Name":brand[0:100],"Price(₹)":price[0:100],"Description":desc[0:100],})
MyntraShoesDF.reset_index(drop=True,inplace = True)
MyntraShoesDF.index+= 1


print(MyntraShoesDF)

               Brand Name   Price(₹)                     Description
1                    Puma   Rs. 6999  Men Cell Fraction Fade Running
2                    Puma   Rs. 6999  Men BlackTraining or Gym Shoes
3               J.FONTINI   Rs. 8490       Men Black Leather Loafers
4                    Puma   Rs. 6999       Mesh Hybrid Fuego Running
5                    Puma  Rs. 10499     Women Deviate Nitro Running
..                    ...        ...                             ...
96           Kenneth Cole  Rs. 10493             Women Leather Pumps
97   Heel & Buckle London   Rs. 7192            Women Peep Toe Heels
98                   Geox  Rs. 10999              Men Solid Sneakers
99                   Geox  Rs. 11999          Men Leather Flat Boots
100                  Geox   Rs. 9999       Men Leather Driving Shoes

[100 rows x 3 columns]

In [145]:
# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the You have to scrape 3 attributes for each laptop:
# title
# Ratings
# Price

driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.amazon.in/'
driver.get(url)

Laptopsearch = driver.find_element_by_id('twotabsearchtextbox')
Laptopsearch.send_keys("Laptop")

In [ ]:
search1 = driver.find_elements_by_xpath('/html/body/div/header/div/div/div[2]/div/form/div[3]/div/span/input')
search1.click()

In [146]:
i7_filter = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in i7_filter:
    if i.text=='Intel Core i7':
        i.click()
        break

In [147]:
i9_filter = driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in i9_filter:
    if i.text=='Intel Core i9':
        i.click()
        break

In [148]:
title = []
price = []
Rating = []
Rating_tag = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
title_tag = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
price_tag = driver.find_elements_by_xpath("//div[@class='sg-col-inner']//span[@class='a-price-whole']")

for i in title_tag:
    title.append(i.text)
    
for r in Rating_tag :
    Rating.append(r.get_attribute("innerHTML"))
    
for p in price_tag:
    price.append(p.text)

In [149]:
LaptopDF = pd.DataFrame({"Laptop Name":title[0:10],"Price(₹)":price[0:10],"Rating":Rating[0:10]})
LaptopDF.reset_index(drop=True,inplace = True)
LaptopDF.index+= 1
print(LaptopDF)

                                          Laptop Name  Price(₹)  \
1   HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,23,350
2   Dell XPS 9370 13.3-inch FHD Display Thin & Lig...  1,14,990
3   HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...  3,45,000
4   Lenovo IdeaPad S540 11th Gen Intel Core i7 13....    77,990
5   Mi Notebook Horizon Edition 14 Intel Core i7-1...    57,990
6   Fujitsu UH-X 11th Gen Intel Core i7 13.3” (33....  1,07,990
7   MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990
8   ASUS TUF Dash F15 (2021) 15.6" (39.62 cm) FHD ...  1,09,990
9   HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    92,490
10  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...    85,990

                Rating
1   4.1 out of 5 stars
2   2.8 out of 5 stars
3   4.5 out of 5 stars
4   4.3 out of 5 stars
5   4.2 out of 5 stars
6   4.3 out of 5 stars
7   4.0 out of 5 stars
8   3.7 out of 5 stars
9   5.0 out of 5 stars
10  4.4 out of 5 stars